<section class="sobre-nos">
  <h1>Conheça a DebugaDev</h1>
  <p>
    A <strong>DebugaDev</strong> surgiu com a missão ensinar e capacitar desenvolvedores a
    aprimorar suas habilidades, abraçar tecnologias inovadoras e dominar as
    práticas essenciais do mundo do desenvolvimento de software. Nosso
    compromisso é fornecer recursos de alta qualidade e oportunidades práticas
    que impulsionem o crescimento e o sucesso de nossa comunidade de
    desenvolvedores.
  </p>
  <p>
    Desde o início, nossa jornada começou com a disponibilização de conteúdo
    técnico valioso e gratuito por meio do nosso canal no YouTube. Continuamos a
    contribuir com a comunidade oferecendo imersões gratuitas e explorando
    tecnologias disruptivas que estão na vanguarda do mercado.
  </p>
  <p>
    Hoje, a <strong>DebugaDev</strong> evoluiu para oferecer cursos especializados, mentorias
    personalizadas e uma plataforma para empresas aprimorarem suas equipes de
    desenvolvimento. Acreditamos que o sucesso no desenvolvimento de software
    requer um compromisso contínuo com a aprendizagem e a inovação, e estamos
    aqui para fornecer o suporte necessário.
  </p>
    <p>
    Nossos valores fundamentais incluem busca pela excelência técnica, acessibilidade, colaboração e a promoção do crescimento profissional. Estamos empenhados em construir uma comunidade que valoriza a educação e a partilha de conhecimento, criando assim um ambiente propício ao progresso tecnológico.
  </p>
    <p>
    Na <strong>DebugaDev</strong>, estamos moldando o futuro dos desenvolvedores e das empresas que buscam aprimorar seus recursos de desenvolvimento de software. Junte-se a nós em nossa missão de aprendizado e crescimento constante.
  </p>

  <h2>Missão da DebugaDev</h2>
  <p>
    Nossa missão é capacitar indivíduos por meio da educação de alta qualidade,
    inspirando a aprendizagem contínua e promovendo o crescimento pessoal e
    profissional. Acreditamos que o conhecimento é a chave para o sucesso e a
    realização, e estamos empenhados em fornecer cursos acessíveis e acessíveis
    que capacitem nossos alunos a alcançar seus objetivos e aspirações.
  </p>
  <p>
    Nosso compromisso com a excelência acadêmica, a inovação educacional e a
    adaptação às necessidades em constante evolução do mercado nos impulsiona a
    criar cursos relevantes e práticos que atendam às demandas do mundo real.
    Trabalhamos incansavelmente para fornecer um ambiente de aprendizagem
    acolhedor, inclusivo e colaborativo, onde cada aluno pode prosperar.
  </p>
  <p>
    Na DebugaDev, valorizamos a integridade, a ética e o respeito em tudo o que
    fazemos. Estamos empenhados em construir relacionamentos duradouros com
    nossos alunos, instrutores e parceiros, e estamos dedicados a contribuir
    para o avanço da sociedade por meio da educação.
  </p>
    <p>
    Nossa visão é ser uma referência global em educação, capacitando milhões de pessoas a alcançar seus objetivos e sonhos. Estamos comprometidos em criar um impacto positivo nas vidas das pessoas, nas comunidades que servimos e no mundo como um todo, por meio do poder transformador da educação.
  </p>

  <h2>Contribuidores</h2>
  <div class="contribuidores">
    <img src="../../../assets/d3z40_braco_cruzado.png" alt="André de Andrade Pereira" />
    <div class="contribuidores-info">
      <h3>André de Andrade Pereira</h3>
      <p>
        Desenvolvedor e Líder Técnico com foco em Java e Backend. Atua na área de
        tecnologia desde 2008, dando inicio a uma longa jornada de muito estudo e
        conhecimento.
      </p>
    </div>
  </div>
</section>
