<div class="container">
  <h1>Último vídeo do canal</h1>
  <div class="video-horizontal">
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/8hJsSYuDTJA?si=cQwzhMg4ZsLY8Kyf | safe"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <div class="info">
      <h1>CURSO JAVA PARA INICIANTES - 2023</h1>
      <h2>FOR e FOREACH</h2>
    </div>
  </div>

  <div class="apresentacao">
    <h1>Olá! Seja muito bem-vindo(a) ao site Debugadev!</h1>

    <p>
      Este site é um complemento ao nosso canal no YouTube, Debugadev, dedicado a compartilhar conhecimento sobre o mundo da computação e tecnologia. Aqui, você encontrará informações adicionais, materiais de apoio e muito mais conteúdo para aprofundar seus estudos e aprendizado.
    </p>
    <br/>
    <br/>
    <p>
      O que você pode encontrar aqui:
    </p>
    <ul>
      <li><strong>Conteúdo complementar aos vídeos do YouTube:</strong> Artigos, tutoriais escritos, códigos de exemplo e outros materiais que complementam os vídeos publicados no canal.</li>
      <li><strong>Links úteis:</strong> Links para ferramentas, documentações e outros recursos relevantes para os temas abordados.</li>
      <li><strong>Informações sobre cursos e workshops:</strong> Detalhes sobre os cursos e workshops oferecidos pelo Debugadev, incluindo datas, inscrições e conteúdo programático.</li>
    </ul>
    <br/>
    <p>
      No nosso canal do YouTube <strong><a href="https://www.youtube.com/@DebugaDev" target="_blank">DebugaDev</a></strong>, você encontra vídeos sobre:
    </p>
    <ul>
      <li><strong>Linguagens de programação:</strong> Java, Typescript, C, entre outras.</li>
      <li><strong>Conceitos de programação:</strong> Explicações sobre conceitos fundamentais da programação, como algoritmos, estruturas de dados e muito mais.</li>
      <li><strong>IDEs:</strong> Eclipse, IntelliJ, Netbeans.</li>
      <li><strong>Frameworks:</strong> Hibernate, Spring, Angular, React, Kafka, MQRabbit, JUnit.</li>
      <li><strong>Engenharia e Arquitetura de Software:</strong> Melhores maneiras de planejar um software e padrões de desenvolvimento.</li>
    </ul>
    <br/>
    <p>
      Para ficar por dentro das novidades, você pode:
    </p>
    <ul>
      <li><strong>Se inscrever no canal do YouTube:</strong> Ative o sininho para receber notificações de novos vídeos.</li>
      <li><strong>Seguir nossas redes sociais:</strong> Acompanhe nossas páginas no <strong><a href="https://www.instagram.com/debugadev" target="_blank">Instagram</a></strong> para receber atualizações e conteúdo exclusivo.</li>
    </ul>
  </div>
</div>
