<section class="politica">
  <h1>Política de Privacidade</h1>

  <h2>Data de Vigência: 01/01/2025</h2>
  <p>
    Agradecemos por escolher utilizar os serviços DebugaDev. Estamos empenhados em proteger a sua privacidade e os seus dados pessoais. Esta política de privacidade explica como coletamos, usamos, divulgamos e protegemos as informações pessoais dos nossos usuários.
  </p>

  <h2>1. Informações Coletadas</h2>
  <p>
    Coletamos informações pessoais quando você se cadastra em nossa plataforma, utiliza nossos serviços, interage com nossos produtos ou se comunica conosco. As informações coletadas podem incluir, mas não estão limitadas a:
  </p>
  <ul class="info-coletadas">
    <li>Dados de navegação
      <ul>
        <li>Endereço IP</li>
        <li>Tipo de navegador</li>
        <li>Sistema operacional</li>
        <li>Páginas visitadas</li>
        <li>Tempo de permanência no site</li>
        <li>Dados de cliques</li>
        <li>Informações sobre o dispositivo usado para acessar o site</li>
        <li>Cookies e tecnologias semelhantes</li>
      </ul>
    </li>
    <br/>
    <li>Dados fornecidos pelo usuário
      <ul>
        <li>Nome</li>
        <li>Endereço de e-mail</li>
        <li>Número de telefone</li>
        <li>Informações de pagamento</li>
        <li>Informações de registro</li>
        <li>Dados de uso</li>
        <li>Comentários e outras contribuições do usuário</li>
      </ul>
    </li>
  </ul>

  <h2>2. Uso das Informações</h2>
  <p>
    Utilizamos as informações pessoais coletadas para:
  </p>
  <ul class="Uso-info">
    <li>Fornecer e manter nossos serviços</li>
    <li>Processar transações</li>
    <li>Comunicar informações importantes</li>
    <li>Personalizar sua experiência</li>
    <li>Melhorar nossos produtos e serviços</li>
    <li>Cumprir obrigações legais</li>
  </ul>

  <h2>3. Compartilhamento de Informações</h2>
  <p>
    Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer nossos serviços ou quando exigido por lei. Podemos compartilhar informações com:
  </p>
  <ul class="compartilha-info">
    <li>Fornecedores de serviços</li>
    <li>Parceiros de negócios</li>
    <li>Autoridades legais</li>
  </ul>

  <h2>4. Segurança de Dados</h2>
  <p>
    Adotamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum sistema é 100% seguro, e não podemos garantir a segurança absoluta dos seus dados.
  </p>

  <h2>5. Seus Direitos</h2>
  <p>
    Você tem direitos em relação às suas informações pessoais, incluindo o direito de acessar, corrigir ou excluir seus dados. Entre em contato conosco para exercer esses direitos.
  </p>

  <h2>6. Alterações na Política de Privacidade</h2>
  <p>
    Reservamo-nos o direito de atualizar esta política de privacidade periodicamente. A versão mais recente estará disponível em nosso site.
  </p>

  <h2>7. Contato</h2>
  <p>
    Se tiver dúvidas ou preocupações sobre esta política de privacidade, entre em contato conosco através dos seguintes meios:
  </p>
  <p>
    <strong>debugadev&#64;gmail.com</strong>
  </p>
  <h2></h2>
  <p>
    Ao continuar utilizando nossos serviços, você concorda com os termos desta política de privacidade.
  </p>
</section>
